.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding-left: .2rem;
    cursor: pointer;
    margin: .7rem 0;
}

.sidebarOption:hover {
    background-color: #340e36;
    opacity: .9;
}

.sidebarOption__icon {
    font-size: 3.2rem !important;
    padding: .8rem;
}

.sidebarOption__channel {
    padding: .7rem 0;
}

.sidebarOption__hash {
    padding: 1rem;
}

.sidebarOption > h3 {
    font-weight: 500;
}