.sidebar {
    background-color: var(--slack-color);
    border-top: 1px solid var(--sidebar-border-color);
    flex: 0.3;
    max-width: 26rem;
    color: #fff;
}

.sidebar__header {
    display: flex;
    border-bottom: 1px solid var(--sidebar-border-color);
    padding: 1rem;
}

.sidebar__info {
    flex: 1;
}

.sidebar__info > h2 {
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: .8rem;
}

.sidebar__info > h3 {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    word-break: all;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
    color: green;
    font-size: 1.8rem;
    margin-right: .5rem;
}

.sidebar__header > .MuiSvgIcon-root {
    font-size: 3.5rem;
    color: var(--sidebar-border-color);
    background-color: #fff;
    padding: .8rem;
    border-radius: 2rem;
}

.sidebar > hr {
    margin: 1rem 0;
    border: 1px solid var(--sidebar-border-color);
}