.message {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 1rem;
}

.message__info {
    padding-left: 1rem;
}

.message__info > p {
    word-break: break-all;
}

.message__timestamp {
    color: gray;
    font-weight: 300;
    font-size: 1.4rem;
}